.title {
    text-align: center;
}

body {
    background-image: url("../assets/images/blue-wash.jpg");
    height: 100%;
    /* make it full page */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

h3 {
    text-align: center;
}

button {
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    padding:0px;
}

#array-holder {
    margin-left: 30px;
    margin-right: 30px;
}

#giphy-display {
    background-color: rgb(0, 0, 0);
}

#Giphy {
    color:white;
    text-align: center;
    padding:0px;
    margin-top: -40px;
}

#giphy {
 color:rgb(255, 255, 255);
}

.float {
    float: left;
    margin: 10px;
}

#add-array-buttons {
    display: block;
    overflow: auto;
}

form {
    display: block;
    overflow: auto;
    position: relative;
}

.start-stop {
    float: left;
    height:225px;
    width: 225px;
    margin: 10px 20px 10px 0;
}

#populate-gifs {
    background-color:white;
    position: relative;
    display: block;
    overflow: auto;
}